.form-group {
  color: purple;
  background-color: lightgreen;
  font-style: italic;
  font-family: cursive;
  font-size: 25px;
}

body {
  background-color: pink;
  font-style: italic;
  font-family: cursive;
}

.jumbotron {
  background-color: orange;
  text-align: center;
}
